.button {
    color: #FFF;
    display: grid;
    font-size: 20px;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
}

.primary {
    background-color: #2980b9;
}

.secondary {
    background-color: #2ecc71;
}

.warning {
    background-color: #e74c3c;
}